if SHIELD_TBKMINI_6COL_LEFT || SHIELD_TBKMINI_5COL_LEFT

config ZMK_KEYBOARD_NAME
    default "TBK Mini"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TBKMINI_6COL_LEFT || SHIELD_TBKMINI_6COL_RIGHT || SHIELD_TBKMINI_5COL_LEFT || SHIELD_TBKMINI_5COL_RIGHT

config ZMK_SPLIT
    default y

endif
