# Copyright (c) 2026 Oleh Kostiuk
# SPDX-License-Identifier: MIT

config SHIELD_TBKMINI_6COL_LEFT
    def_bool $(shields_list_contains,tbkmini_6col_left)

config SHIELD_TBKMINI_6COL_RIGHT
    def_bool $(shields_list_contains,tbkmini_6col_right)
