if SHIELD_TBKMINI_6COL_LEFT

config ZMK_KEYBOARD_NAME
    default "TBK Mini 6Col"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TBKMINI_6COL_LEFT || SHIELD_TBKMINI_6COL_RIGHT

config ZMK_SPLIT
    default y

endif
